<div class="section">
  <%= form_for(@request) do |f| %>
      <%= f.hidden_field :offer_id, value: params[:reid] %>

      <div class="field field-form first">
        <div class="label-overlay">
          <label for="request_Preferred Background Color">
            Preferred background<br>Color
            <span class="rqrd">*</span>
          </label>
        </div>
        <%= f.text_field :background_color, required: true %>
        <div class="tooltip tooltip-textfield right">
          We will draw inspiration from your logo and website if a color is not specified. If you do not know a color,
          please input "No Specific Color"
        </div>
      </div>

      <div class="field field-form">
        <div class="label-overlay">
          <label for="request_Product Terms and Conditions">
            Product terms and<br>Conditions
            <span class="rqrd">*</span>
          </label>
        </div>
        <%= f.text_area :terms, required: true %>
        <div class="tooltip right">
          Please include the exact terms and conditions found on the back of your gift card,
          certificate or ticket/voucher.
        </div>
      </div>

      <div class="field field-form">
        <div class="label-overlay">
          <label for="request_City/State Where Offer can be Redeemed">
            City/state where offer<br> can be redeemed
            <span class="rqrd">*</span>
          </label>
        </div>
        <%= f.text_area :city_or_state, required: true %>
      </div>

      <div class="field field-form">
        <div class="label-overlay">
          <label for="request_Physical Address &amp; Phone">
            Physical address &amp; <br>Phone
            <span class="rqrd">*</span>
          </label>
        </div>
        <%= f.text_area :physical_address, required: true %>
        <div class="tooltip right">
          Limit of 3 or fewer locations.
        </div>
      </div>

      <div class="field field-form">
        <div class="label-overlay">
          <label for="request_Company Overview and History">
            Company overview and<br> History
            <span class="rqrd">*</span>
          </label>
        </div>
        <%= f.text_area :company_overview, required: true %>
      </div>

      <div class="field field-form">
        <div class="label-overlay">
          <label for="request_Product Feature and Benefits ">
            Product feature and<br> Benefits
            <span class="rqrd">*</span>
          </label>
        </div>
        <%= f.text_area :product_feature, required: true %>
        <div class="tooltip right">
          A special feature or benefit of your company. For example: Voted best pasta primavera 3 years running.
        </div>
      </div>

      <div class="field field-form">
        <div class="label-overlay">
          <label for="request_Card/Certificate/Ticket Type">
            Card/certificate/ticket<br> Type
          </label>
        </div>
        <%= f.select :card_type, [['Plastic Card'], ['Certificate'], ['Ticket/Voucher']] %>
      </div>

      <div class="field field-form last">
        <div class="label-overlay">
          <label for="request_Balance Inquiry Method">
            Balance inquiry<br> Method
            <span class="rqrd">*</span>
          </label>
          <br>
        </div>
        <%= f.text_area :balance_enquire_method, required: true %>
        <div class="tooltip right">
          Please include specific information such as an 800 number, web site address or company phone number. If
          providing a company phone number, please provide the hours of operation.
        </div>
      </div>

      <h3 class="active product-image"> Lifestyle Image Upload </h3>

      <div class="section product_image_upload">
        <div class="stextcell">
          Please upload a high quality lifestyle photo that represents your brand. This could be a signature menu item
          or a photo previously used in marketing materials.
          <br/>
          <br/>

          The image area to fill is 10”w x ~5”h (including bleed) and minimum resolution of 300dpi at that size. Do not
          provide images that include text or other graphic elements unless it has been specifically designed to the
          image area dimensions.
          <div class="field">
            <!--<label for="request_Product Image">Product image</label><br>-->
            <%= f.file_field :product_image, required: true %>
          </div>
        </div>
      </div>

      <h3 class="active"> Logo Upload </h3>

      <div class="section logo_upload">
        <div id="tdf_2" class="stextcell">
          A high resolution logo is required A vector format is strongly preferred so we can scale your logo
          without loss of image quality (AI, EPS, PDF). If raster, the minimum resolution is 300dpi at final size
          (~16-20”h for the skirts).
          <div class="field">
            <!--<label for="request_Partner Logo">Partner logo</label><br>-->
            <%= f.file_field :partner_logo, required: true %>
          </div>
        </div>
      </div>

      <h3 class="active"> Card/Certificate/Ticket Image Upload</h3>

      <div class="section card_certificate">
        <div class="stextcell">
          Scan or take a photo of the front and back of your gift card, certificate or ticket/voucher. You may
          upload two separate files if needed.
          If you are submitting the front and back separately, Please name your files the following:
          Front of product: PartnerName_Front.file format
          Back of Product: PartnerName_Back.file format
          For example: My restaurant is Sweet Pea Cafe and my sample image files are jpegs.
          Sweet_Pea_Cafe_Front.jpg
          Sweet_Pea_Cafe_Back.jpg
          Please note - This is not in lieu of the hi-resolution product image shot needed for the pallet assets.
          See the Marketing Asset Guidelines for image requirements.
          <div class="field">
            <!--<label for="request_Gift Card Image">Gift card image</label><br>-->
            <%= f.file_field :gift_card_image, required: true %>
          </div>

          <br/>

          <div class="actions">
            <%= f.submit 'Submit this Form' %>
          </div>
        </div>
      </div>
  <% end %>
</div>