<!DOCTYPE html>
<html>
<head>
  <title>Marketing Asset Collection Form</title>
  <% case params[:controller] %>
  <% when 'enrollments' %>
      <%= stylesheet_link_tag 'enrollments', media: 'all' %>
      <%= javascript_include_tag 'enrollment' %>
  <% else %>
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
<main class="wrapper">
  <% case params[:controller] %>
  <% when 'enrollments' %>
  <% else %>
      <div class="logo">
        <%= image_tag('incomm_logo2.jpg') %>
      </div>
  <% end %>

  <%= yield %>
</main>

<%= debug(params.inspect) if Rails.env.development? %>
</body>
</html>
